.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.redux-header {
  padding: 30px;
  background-color: #ccc;
}


.redux-header button {
  background-color: blue;
  color: #FFF;
  padding: 30px;
  border-radius: 5px;
  cursor: pointer;
}
